<form action="/signin" method="post">
    <input type="email" name="email" placeholder="Inserta el imael">
    <input type="password" name="password" placeholder="Contraseña">
    <button type="submit">Signin</button>
</form>